@import 'c/styleVariables';

.portfolio__wrap {
	background: var(--c-primary-contrast);
	padding: 10px;
}
.portfolio {
	margin: 10px;
	background: var(--c-primary);
	padding: 10px;
	min-height: 400px;
	box-shadow: var(--c-primary-out-box-shadow);
	border-radius: 20px;
}

.head {
	display: flex;
	align-items: center;
	padding: 24px;
}

.head__info {
	flex-grow: 1;
}
.head__info-name {
	font-size: 48px;
	font-family: cursive;
}

.head__info-title {
	font-size: 36px;
	font-family: cursive;
}